<h2>APM111- Statistical Theory
(Formative Assessment 6) </h2>
<h4> Rodillas, Christian Miguel T. </h4>

<h2>1. (5 points). Table 1 shows a frequency distribution of grades on a final examination in
college algebra. Find the quartiles of the distribution</h2>

In [57]:
import pandas as pd

data = {
    'Grade range': ['90-100', '80-89', '70-79', '60-69', '50-59', '40-49', '30-39'],
    'No. of students': [9, 32, 43, 21, 11, 3, 1]
}

df = pd.DataFrame(data)
df['Cumulative Frequency'] = df['No. of students'].cumsum()
n = df['No. of students'].sum()

q1_pos = (n + 1) / 4
q2_pos = 2 * (n + 1) / 4
q3_pos = 3 * (n + 1) / 4

def interpolate_quartile(position, df):
    for i, row in df.iterrows():
        if row['Cumulative Frequency'] >= position:
            prev_cum_freq = df['Cumulative Frequency'].iloc[i-1] if i > 0 else 0
            prev_grade_range = df['Grade range'].iloc[i-1] if i > 0 else ''
            
            total_students_in_range = row['No. of students']
            position_in_range = position - prev_cum_freq
            proportion = position_in_range / total_students_in_range
            
            lower_bound, upper_bound = map(int, row['Grade range'].split('-'))
            
            quartile_value = lower_bound + proportion * (upper_bound - lower_bound)
            return quartile_value
            
    return None

Quartile1_value = interpolate_quartile(q3_pos, df)
Quartile2_value = interpolate_quartile(q2_pos, df)
Quartile3_value = interpolate_quartile(q1_pos, df)

print(f"Q1 value is: {Quartile1_value:.2f}")
print(f"Q2 value is: {Quartile3_value:.2f}")
print(f"Q3 value is: {Quartile3_value:.2f}")

Q1 value is: 62.89
Q2 value is: 85.98
Q3 value is: 85.98

<h2>2. For Statistics and Algebra, in which subject was
there the greater (a) absolute dispersion and (b) relative dispersion? </h2>

In [3]:
import pandas as pd
from IPython.display import display

# Provided data
Students_Count = 150
Mean_Statistics = 78
std_Statistics = 8.0
Mean_Algebra = 73
std_Algebra = 7.6
Rel_Dis_Stats = 8 / 78
Rel_Dis_Algebra = 7.6 / 73

sub = ("Statistics","Algebra")
Mean = [Mean_Statistics, Mean_Algebra]
Abs_Dis = [std_Statistics, std_Algebra]
Rel_Dis = [Rel_Dis_Stats, Rel_Dis_Algebra]

Gradesdf = pd.DataFrame({
    'Subject' :sub,
    'Mean': Mean,
    'Absolute Dispersion': Abs_Dis,
    'Relative Dispersion': Rel_Dis
})

display(Gradesdf)

      Subject  Mean  Absolute Dispersion  Relative Dispersion
0  Statistics    78                  8.0             0.102564
1     Algebra    73                  7.6             0.104110

<h2>3. Prove that the mean and standard deviation of a set of standard scores are
equal to 0 and 1, respectively. 
Set = 6,2,8,7,5</h2>

In [26]:
import numpy as np

numbers = np.array([6,2,8,7,5])
mean = sum(numbers)/5
std_ans = np.std(numbers, ddof=0)
z_score = (numbers-mean)/std_ans
z_score_mean = sum(z_score)/5
z_score_std = np.std(z_score, ddof=0)

print(f" Z-score Mean = {z_score_mean:.6f}")
print(f" Z-score Standard Deviation = {z_score_std}")

 Z-score Mean = 0.000000
 Z-score Standard Deviation = 0.9999999999999999

By using the given numbers of the set {6,2,8,7,5} we can get the z-score using its the score's mean and standard deviation
Mean = 5.6
Standard Deviation = 2.06

Thus, the z-score is,
[ 0.19 -1.75  1.166  0.680  -0.29]

Using the given z-score, the mean is 0, and the standard deviation is 1

\
\
<h2>4. (5 points). Three masses are measured as 20.48, 35.97, and 62.34 g, with standard
deviations of 0.21, 0.46, and 0.54 g, respectively.</h2>

In [29]:
import numpy as np
import pandas as pd

massesdata = np.array([20.48, 35.97, 62.34])
std = np.array([0.21, 0.46, 0.54])

mean_sum = np.sum(masses)/3
variance_sum = np.sum(std_masses**2)
std_sum = np.sqrt(variance_sum)

data = {
    'Mean': [mean_sum],
    'Variance': [variance_sum], 
    'Standard Deviation of the Sum': [std_sum],
}


df = pd.DataFrame(data)
df

        Mean  Variance  Standard Deviation of the Sum
0  39.596667    0.5473                       0.739797

<h2>5. (10 points). The credit hour distribution at Metropolitan Technological College</h2>

In [44]:
import itertools
import pandas as pd
import numpy as np
from IPython.display import display


x_values = [6, 9, 12, 15, 18]
probabilities = [0.1, 0.2, 0.4, 0.2, 0.1]

samples = list(itertools.product(x_values, repeat=2))

OG_Mean = np.sum(x_values)/5
Variance = np.sum(np.array(probabilities) * (np.array(x_values) - OG_Mean)**2)

means = [(x + y) / 2 for x, y in samples]

sample_probabilities = [probabilities[x_values.index(x)] * probabilities[x_values.index(y)] for x, y in samples]
sample_variance = variances

print(f"Mean of the data set = {OG_Mean}" )
print(f"Variance of the data set = {Variance}" )

df = pd.DataFrame({
    'Sample': samples,
    'Mean': means,
    'Probabilities': sample_probabilities,
})

display(df)

Mean of the data set = 12.0
Variance of the data set = 10.8

      Sample  Mean  Probabilities
0     (6, 6)   6.0           0.01
1     (6, 9)   7.5           0.02
2    (6, 12)   9.0           0.04
3    (6, 15)  10.5           0.02
4    (6, 18)  12.0           0.01
5     (9, 6)   7.5           0.02
6     (9, 9)   9.0           0.04
7    (9, 12)  10.5           0.08
8    (9, 15)  12.0           0.04
9    (9, 18)  13.5           0.02
10   (12, 6)   9.0           0.04
11   (12, 9)  10.5           0.08
12  (12, 12)  12.0           0.16
13  (12, 15)  13.5           0.08
14  (12, 18)  15.0           0.04
15   (15, 6)  10.5           0.02
16   (15, 9)  12.0           0.04
17  (15, 12)  13.5           0.08
18  (15, 15)  15.0           0.04
19  (15, 18)  16.5           0.02
20   (18, 6)  12.0           0.01
21   (18, 9)  13.5           0.02
22  (18, 12)  15.0           0.04
23  (18, 15)  16.5           0.02
24  (18, 18)  18.0           0.01